<h2 class="bg-light mx-5 w-25">商品一覧</h2>
<%= link_to new_admin_item_path do %>
 <i class="fal fa-plus-circle mx-5"></i>
<% end %>
<div class="container text-center">
  <table class="table table-borderless mt-5">
    <tr class="bg-light border-top">
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <div class="form-label">
        <td><%= item.id %></td>
        <td>
          <u>
            <%= link_to admin_item_path(item) do %>
              <%= item.name %>
            <% end %>
          </u>
        </td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.is_active ? '販売中' : '販売停止中' %></td>
      </div>
    </tr>
    <% end %>
  </table>
  <%= paginate @items %>
</div>