<h2 class="bg-light mx-5 w-25">商品新規登録</h2>
<%= form_with model: @item, url: admin_items_path do |f| %>
  <div class="container text-center">
    <table class="table table-borderless mt-5">
      <tr>
        <th>商品画像</th>
        <div class="text-left">
          <td>
            <%= f.file_field :item_image, accept:'image/*' %>
          </td>
        </div>
      </tr>
      <tr>
        <th>商品名</th>
          <td>
            <div class="form-label">
              <%= f.text_field :name, class: "form-control", style: "width: 100%", rows: "5" %>
            </div>
          </td>
          <td></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td>
          <div class="form-label">
            <%= f.text_field :introduction, class: "form-control", style: "width: 100%", rows: "3" %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td>
          <!--< %= f.select :genre_id, {'ケーキ': 1, '焼き菓子': 2, 'プリン': 3, 'キャンディ': 4}, { include_blank: '-- 選択してください --'}, { class: 'form-control' , required: true } %>-->
          <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class: "form-control" %>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>税抜価格</th>
        <td>
          <div class="form-label">
            <%= f.text_field :price, class: "form-control", style: "width: 100%", rows: "3" %>
          </div>
          <td class="align-middle">円</td>
        </td>
      </tr>
      <tr>
        <th>販売ステータス</th>
        <td>
          <%= f.radio_button :is_active, "true" %>
          <%= f.label :is_active_true, "販売中" %>
          <%= f.radio_button :is_active, "false" %>
          <%= f.label :is_active_false, "販売停止中" %>
        </td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </td>
          <td></td>
      </tr>
    </table>
  </div>
<% end %>
