<h2 class="bg-light mx-5 w-50">
  <strong><%= @customer.last_name %><%= @customer.first_name %></strong>さんの
  <strong>会員情報編集</strong>
</h2>
<%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
  <div class="container text-center">
    <table class="table table-borderless mt-5">
      <tr class="field">
        <th>会員ID</th>
        <td>
          <%= @customer.id %>
        </td>
      </tr>
      <tr>
        <th>氏名</th>
        <td>
          <div class="field">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td>
          <div class="field">
            <%= f.text_field :last_name_kana, class: "form-control" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.text_field :first_name_kana, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td>
          <div class="field">
            <%= f.text_field :postal_code, class: "form-control" %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>住所</th>
        <td colspan="2">
          <div class="field">
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          <div class="field">
            <%= f.text_field :telephone_number, class: "form-control" %>
          </div>
        </td>
        <td></td>
      <tr>
        <th>メールアドレス</th>
        <td>
          <div class="field">
          <%= f.email_field :email, class: "form-control" %>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <%= f.radio_button :is_deleted, "false" %>
          <%= f.label :is_deleted_false, "有効" %>
          <%= f.radio_button :is_deleted, "true" %>
          <%= f.label :is_deleted_true, "退会" %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <div class="actions">
            <%= f.submit "変更内容を保存", class: "btn btn-success" %>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
<% end %>