<h2 class="bg-light mx-5 w-25">会員一覧</h2>
<div class="container text-center">
  <table class="table">
    <tr class="bg-light">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
    <% @customers.each do |customer| %>
    <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to admin_customer_path(customer) do %>
            <u><%= customer.last_name %><%= customer.first_name %></u>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td><%= customer.is_deleted ? '退会' : '有効' %></td>
    </tr>
    <% end %>
  </table>
</div>
