<h2 class="bg-light mx-5 w-25">新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="container text-center">
    <table class="table table-borderless mt-5">
      <tr>
        <th>名前</th>
        <td>(姓)</td>
        <td class="form-label">
          <%= f.text_field :last_name, class: "form-label" %>
        </td>
        <td>(名)</td>
        <td class="form-label">
          <%= f.text_field :first_name, class: "form-label" %>
        </td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td>(セイ)</td>
        <td class="form-label">
          <%= f.text_field :last_name_kana, class: "form-label" %>
        </td>
        <td>(メイ)</td>
        <td class="form-label">
          <%= f.text_field :first_name_kana, class: "form-label" %>
        </td>
      </tr>
    　<tr>
        <th>メールアドレス</th>
        <td></td>
        <td class="form-label">
          <%= f.email_field :email, autocomplete: "email", class: "form-label" %>
        </td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <th>郵便番号(ハイフンなし)</th>
        <td></td>
        <td class="form-label">
          <%= f.text_field :postal_code, class: "form-label" %>
        </td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <th>住所</th>
        <td></td>
        <td colspan="3">
          <%= f.text_field :address, class: "form-label", style:"width: 100%;" %>
        </td>
      </tr>
      <tr>
        <th>電話番号(ハイフンなし)</th>
        <td></td>
        <td class="form-label">
          <%= f.text_field :telephone_number, class: "form-label" %>
        </td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <th>パスワード(6文字以上)</th>
        <td></td>
        <td class="form-label">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-label" %>
        </td>
        <td colspan="2"></td>
      </tr>
      <th>パスワード(確認用)</th>
        <td></td>
        <td class="form-label">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-label" %>
        </td>
        <td colspan="2"></td>
      </tr>
      </div>
    </table>
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>
<h2 class="bg-light mx-5 w-50 mt-5">既に登録済みの方</h2>
<div class="text-center">
  <%= link_to "こちら", new_customer_session_path %>からログインしてください。
</div>
