<div class="container text-center">
<h2 class="bg-light mx-5 w-50">注文情報確認</h2>
<table class="table mt-5 table-bordered">
    <tr class="bg-light">
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    <% @cart_items.each do |cart_item| %>
    <% @total += cart_item.subtotal %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal %></td>
    </tr>
    <% end %>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>送料</th>
      <td>800</td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td><%= @total %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= @total + 800 %></td>
    </tr>
  </table>
  <h2>支払い方法</h2>
  <%= @order.payment_method_i18n %>
  <h2>お届け先</h2>
  〒 <%= @order.postal_code %> <%= @order.address %></br>
  <%= @order.name %>
  <%= form_with model: @order, method: :post do |f| %>
    <%= f.submit "注文を確定する", class: "btn btn-success" %>
  <% end %>