<div class="row align-items-end">
  <h2 class="bg-light mx-5 w-25">商品一覧</h2>
  <p>(全<%= Item.count %>件)</p>
</div>
<div class="container text-center">
  <div class="row">
    <% @item.each do |item| %>
      <div class="col-3">
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_image(100, 100) %><br>
        <% end %>
        <%= item.name %></br>
        ¥<%= item.price %>
      </div>
    <% end %>
  </div>
</div>