<div class="row align-items-end">
  <h2 class="bg-light mx-5 w-25">商品一覧</h2>
  <p>(全<%= Item.count %>件)</p>
</div>
<div class="container text-center">
</div>
<% @item.each do |item| %>
  <%= link_to public_item_path(item) do %>
    <%= image_tag item.get_image(100, 100) %>
  <% end %>
  <%= item.name %>
  <%= item.price %>
<% end %>